<div id="navigation" class="sticky">
  <nav class="top-bar" data-topbar
    data-options="scrolltop: false; mobile_show_parent_link: false; custom_back_text: false"
    itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Menu">
    <ul class="title-area">
      <li class="name">
        <h1 class="show-for-small-only">
          <a href="{{ '/' | absolute_url }}" class="icon-tree"> {{ site.title }}</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#" title="Menu"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      {% assign sides = site.data.navigation | group_by:"side" | sort:"name" %}
      {% for side in sides %}
      <ul class="{{ side.name }}">
        {% for link in side.items %}

          {% capture isActive %}
          {% if link.url != '/' and page.url contains link.url %}
          active
          {% elsif link.url == '/' and page.url == '/' %}
          active
          {% elsif link.url == '/blog/' and page.collection == 'posts' %}
          active
          {% endif %}
          {% endcapture %}

          {% capture hasDropdown %}
          {% if link.dropdown != nil %}
          has-dropdown
          {% endif %}
          {% endcapture %}

          {% assign link_url = link.url | relative_url | default: '#' %}

          <li class="{{ hasDropdown }} {{ isActive}}">
            <a {% if link.class %}class="{{link.class}}"{% endif %} href="{{ link_url }}" itemprop="url">
              <span itemprop="name">{{ link.title | escape }}</span>
            </a>

            {% if link.dropdown != nil %}
            <ul class="dropdown">
              {% for dropdown_link in link.dropdown %}

                {% assign dropdown_url = dropdown_link.url | relative_url | default: '#' %}
                <li>
                  <a {% if dropdown_link.class %}class="{{dropdown_link.class}}"{% endif %} href="{{ dropdown_url }}" itemprop="url">
                    <span itemprop="name">{{ dropdown_link.title | escape }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          <li class="divider"></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </section>
  </nav>
</div>
