{% comment %}
*
*   Make a picture responsive.
*
*   Usage: {% include components/responsive_picture.html file="mypicture.jpg" alt="my title" %}
*
{% endcomment %}
{%- assign file = include.file -%}
{%- assign f = file | split: '.' -%}
{%- assign alt = include.alt -%}
<noscript><img src="{{ f[0] | relative_url }}-1440.{{ f[1] }}" alt="{{ alt | escape_once }}"></noscript>
<img src="{{ f[0] | relative_url }}-lq.{{ f[1] }}"
  data-sizes="auto"
  data-srcset="{{ f[0] | relative_url }}-320.{{ f[1] }} 320w,
               {{ f[0] | relative_url }}-480.{{ f[1] }} 480w,
               {{ f[0] | relative_url }}-640.{{ f[1] }} 640w,
               {{ f[0] | relative_url }}-768.{{ f[1] }} 768w,
               {{ f[0] | relative_url }}-1024.{{ f[1] }} 1024w,
               {{ f[0] | relative_url }}-1440.{{ f[1] }} 1440w,
               {{ f[0] | relative_url }}-1600.{{ f[1] }} 1600w,
               {{ f[0] | relative_url }}-1920.{{ f[1] }} 1920w"
  alt="{{ alt | escape_once }}" class="lazyload fade-in">