@charset "utf-8";


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
  color: $grey-5;
}

#page-meta .button {
  background: $grey-5;
  border: 0;
}
#page-meta .button {
  color: #fff;
}
#page-meta .button:hover {
  background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
.meta-info a {
  text-decoration: underline;
  color: scale-color($grey-1, $lightness: 40%);
}
.meta-info a:hover {
  text-decoration: none;
  color: $secondary-color;
}


/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t30 { margin-top: 30px !important; }
.t60 { margin-top: 60px !important; }

.b20 { margin-bottom: 20px !important; }
.b60 { margin-bottom: 60px !important; }

.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }
