@charset "utf-8";
/* TOC

- Adjustments: Video Layout
- Navigation
- Search
- Masthead
- Masthead › small-only
- Masthead › medium-only
- Masthead › large-only
- Masthead › xlarge-up
- Breadcrumb
- Meta
- Jump to top
- Footer
- Subfooter
- CSS-Classes to add margin at top or bottom

*/



/* Navigation
------------------------------------------------------------------- */

#navigation {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);

  .top-bar .title-area .name h1 a {
    width: auto;
    text-align: center;
  }
}


/* Meta
------------------------------------------------------------------- */

#page-meta, #page-meta a {
  color: $grey-5;
}

#page-meta .button {
  background: $grey-5;
  border: 0;
}
#page-meta .button {
  color: #fff;
}
#page-meta .button:hover {
  background: $primary-color;
}
.meta-info p {
  font-size: rem-calc(13);
  color: scale-color($grey-1, $lightness: 40%);
}
.meta-info a {
  text-decoration: underline;
  color: scale-color($grey-1, $lightness: 40%);
}
.meta-info a:hover {
  text-decoration: none;
  color: $secondary-color;
}



/* Jump to top
------------------------------------------------------------------- */

#up-to-top {
  padding: 160px 0 10px 0;

  a {
    font-size: 24px;
    padding: 5px;
    border-radius: 3px;

    &:hover {
      background: $grey-2;
    }

  }

}


/* Footer
------------------------------------------------------------------- */

#footer {
  padding-top: 30px;
  padding-bottom: 20px;
  background: $footer-bg;
  color: $footer-color;
  text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;

  a {
    color: $footer-link-color;
  }

  h5 {
    margin: 1em 0 0 0;
    letter-spacing: 1px;
    color: #fff;
    text-transform: uppercase;
  }

}


/* Subfooter
------------------------------------------------------------------- */

#subfooter {
  background: $subfooter-bg;
  color: $subfooter-color;
  padding-top: 30px;
  padding-bottom: 10px;

  ul.inline-list {
    float: left;
  }

  .credits a {
    color: $subfooter-link-color;
    border: 0;
    text-transform: uppercase;
    &:hover {
      color: #fff;
    }
  }

  .social-icons li a {
    font-size: rem-calc(23);
    display: block;
    width: 36px;
    border-radius: 50%;
    color: $subfooter-bg;
    background: $subfooter-color;
    text-align: center;

    &:hover {
      background: $subfooter-bg;
      color: #fff;
    }

  }

}

/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t30 { margin-top: 30px !important; }
.t60 { margin-top: 60px !important; }

.b20 { margin-bottom: 20px !important; }
.b60 { margin-bottom: 60px !important; }

.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }
