@charset "utf-8";
/* TOC

- Side-Nav

*/


/* Side-Nav
------------------------------------------------------------------- */

.side-nav li:not(:first-of-type) {
  border-top: 1px dotted $grey-3;
}
.side-nav li a:not(.button) {
  border-bottom: 0; padding: 0.4375rem 0rem;
}
.side-nav li a:not(.button):hover,
.side-nav li a:not(.button):focus {
  background: $grey-1;
}
