/* Blog entries */

.entry {
  @include clearfix;
  margin-bottom: 2rem;

  .entry-title {
    word-wrap: break-word;

    a {
      text-decoration: none;
      border: 0;
      font-weight: normal;
    }
  }

  .entry-meta {
    @include subheader;
  }

  .entry-image {
    margin: 15px auto;
    width: 150px;
    max-height: 113px;

    @media #{$medium-up} {
      margin: 5px 15px 5px 0;
      float: left;
    }

    img {
      display: block;
      width: 100%;
      max-height: 113px;
      object-fit: cover;
      font-family: "object-fit: cover"; // lazysizes object fit polyfill
    }
  }
}