<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16.png' | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/favicon-180.png' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/icons/favicon-safari-pinned-tab.svg' | relative_url }}" color="{{ site.color }}">
<meta name="msapplication-TileColor" content="{{ site.color }}">
<meta name="theme-color" content="{{ site.color }}">
<meta name="application-name" content="{{ site.title }}">
<link rel="manifest" href="{{ 'manifest.webmanifest' | relative_url }}">
