{% assign title = page.title | default: site.title %}
{% assign image = page.header.image %}
{% assign caption = page.header.caption %}

<header id="page-header">
  {% if image %}
  <div class="page-header-image">
    {% assign f = image | split: '.' %}
    <noscript><img src="{{ f[0] | relative_url }}-1024.{{ f[1] }}"></noscript>
    <img sizes="100vw"
      src="{{ f[0] | relative_url }}-lq.{{ f[1] }}"
      data-srcset="{{ f[0] | relative_url }}-640.{{ f[1] }} 640w,
                   {{ f[0] | relative_url }}-768.{{ f[1] }} 768w,
                   {{ f[0] | relative_url }}-1024.{{ f[1] }} 1024w,
                   {{ f[0] | relative_url }}-1440.{{ f[1] }} 1440w,
                   {{ f[0] | relative_url }}-1600.{{ f[1] }} 1600w,
                   {{ f[0] | relative_url }}-1920.{{ f[1] }} 1920w"
      alt="{{ title }}"
      class="lazyload blur-up">
    {% if caption %}
    <div class="image-caption">
      <small>{{ caption | markdownify | remove: '<p>' | remove: '</p>' }}</small>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div class="page-header-inner show-for-medium-up row">
    <h1 class="page-header-title columns">
      {{ title | markdownify | strip_html }}
    </h1>
  </div>
</header>
