{% comment %}
*
*   gallery:
*     - image_url: gallery-image.jpg
*       caption: Starting Page with huge One Logo
*
*   {% include sections/page-gallery.html %}
*
{% endcomment %}
<div id="gallery">
  {%- for item in page.gallery -%}
  {%- assign f = item.image_url | split: '.' -%}
  <a href="{{ f[0] | relative_url }}.{{ f[1] }}">
    <img src="{{ f[0] | relative_url }}-150.{{ f[1] }}"
      alt="{{ item.caption | markdownify | remove: '<p>' | remove: '</p>' }}">
  </a>
  {%- endfor -%}
</div>
