{% assign title = page.title | default: site.title %}
{% assign image = page.header.image %}
{% assign caption = page.header.caption %}

<header id="page-header">
  {% if image %}
  <div class="page-header-image">
    <noscript><img src="{{ site.cld }}c_limit,f_auto,q_auto,w_1440{{ image }}"></noscript>
    <img data-sizes="auto"
      src="{{ site.cld }}c_limit,f_auto,q_auto,w_40{{ image }}"
      data-srcset="{{ site.cld }}c_limit,f_auto,q_auto,w_640{{ image }} 640w,
                   {{ site.cld }}c_limit,f_auto,q_auto,w_768{{ image }} 768w,
                   {{ site.cld }}c_limit,f_auto,q_auto,w_1024{{ image }} 1024w,
                   {{ site.cld }}c_limit,f_auto,q_auto,w_1440{{ image }} 1440w,
                   {{ site.cld }}c_limit,f_auto,q_auto,w_1600{{ image }} 1600w,
                   {{ site.cld }}c_limit,f_auto,q_auto,w_1920{{ image }} 1920w"
      alt="{{ title }}"
      class="lazyload blur-up">
    {% if caption %}
    <div class="image-caption">
      <small>{{ caption | markdownify | remove: '<p>' | remove: '</p>' }}</small>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <div class="page-header-inner row">
    <h1 class="page-header-title columns">
      {{ title | markdownify | strip_html }}
    </h1>
  </div>
</header>
