<article class="entry">
  <header class="entry-header">
    <h2 class="entry-title">
      <a href="{{ post.url | relative_url }}">{{ post.title | widont}}</a>
    </h2>
  </header>

  {% if post.image.path %}
  <section class="entry-image">
    {% assign f = post.image.path | split: '.' %}
    {% assign title = post.title | escape_once %}
    <a href="{{ post.url | relative_url }}" title="{{ title }}">
      <noscript>
        <img src="{{ f[0] | relative_url }}-thumb.{{ f[1] }}" alt="{{ title }}">
      </noscript>
      <img src="{{ f[0] | relative_url }}-lq.{{ f[1] }}"
        data-src="{{ f[0] | relative_url }}-thumb.{{ f[1] }}"
        alt="{{ title }}" class="lazyload fade-in">
    </a>
  </section>
  {% endif %}

  <footer class="entry-meta">
    {% capture author %}{{ site.data.language.by }} {% include components/author.html id=post.author %}{% endcapture %}
    {% capture datetime %}{% include components/datetime.html value=post.date %}{% endcapture %}
    {% capture categories %}{% include components/categories.html values=post.categories %}{% endcapture %}
    {% assign meta = site.data.init.array | push:author | push:datetime | push:categories %}
    {{ meta | join: ' &middot; ' }}
  </footer>

  <section class="entry-excerpt">
    <p>
      {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
  </section>
</article>