<article class="entry">
  <header class="entry-header">
    <h2 class="entry-title">
      <a href="{{ post.url | relative_url }}">{{ post.title | widont}}</a>
    </h2>
  </header>

  {% if post.image.featured %}
  <section class="entry-image">
    {% assign f = post.image.featured | split: '.' %}
    {% assign title = post.title | escape_once %}
    <a href="{{ post.url | relative_url }}" title="{{ title }}">
      <noscript>
        <img src="{{ f[0] | relative_url }}-thumb.{{ f[1] }}" alt="{{ title }}">
      </noscript>
      <img src="{{ f[0] | relative_url }}-lq.{{ f[1] }}"
        data-src="{{ f[0] | relative_url }}-thumb.{{ f[1] }}"
        alt="{{ title }}" class="lazyload fade-in">
    </a>
  </section>
  {% endif %}

  <footer class="entry-meta">
    {{ site.data.language.by }} {% include author id=post.author %} &middot; {% include datetime value=post.date %} &middot; {% include categories values=post.categories %}
  </footer>

  <section class="entry-excerpt">
    <p>{{ post.excerpt | strip_html | escape }}</p>
  </section>
</article>