/* Blog entries */

.entry {
  h2 {
    word-wrap: break-word;
  }

  .entry-meta {
    font-style: italic;
    @include subheader;
  }

  .entry-image {
    @media #{$small-only} {
      @include grid-column($collapse:true);
    }
    img {
      width: 100%;
      max-height: 182px;
      overflow: hidden;
      display: block;
      object-fit: cover;
      font-family: "object-fit: cover"; // lazysizes object fit polyfill
    }
  }
}