/* Navigation
------------------------------------------------------------------- */

#navigation {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);

  .top-bar .title-area .name h1 a {
    width: auto;
    text-align: center;
  }
}
