---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include sections/head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include sections/navigation.html %}
	{% endunless %}

	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include sections/footer.html %}
	{% endunless %}

	{% include sections/footer-scripts.html %}
</body>
</html>
