---
layout: default
format: post
---

<article itemscope itemtype="http://schema.org/Article">

  {% include sections/post-intro.html %}

  <div class="row">
    <div class="medium-9 column">
      {% if page.excerpt %}
      <p class="excerpt" itemprop="description">
        {{ page.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
      {% endif %}

      <div class="post-body" itemprop="articleBody">
      {{ content }}
      </div>

      {% if page.gallery.size > 0 %}
      <section>
        <h5><span class="icon-camera"></span> {{ site.data.language.gallery }}</h5>
        {% include sections/page-gallery.html %}
      </section>
      {% endif %}

      {% include sections/page-meta-info.html %}
      {% include sections/post-related.html %}
      {% include sections/post-pager.html %}
    </div>
    <div class="medium-3 column">
      {% include sections/sidebar.html %}
    </div>
  </div>
</article>
