---
layout: default
format: post
---

{% include post-intro.html %}

<div class="row">
  <div class="medium-10 medium-offset-1 columns end">
    <article itemscope itemtype="http://schema.org/Article">

      {% if page.excerpt %}
      <p class="excerpt" itemprop="description">
        {{ page.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
      {% endif %}

      <div itemprop="articleBody">
      {{ content }}
      </div>

      {% if page.gallery.size > 0 %}
      {% include gallery.html %}
      {% endif %}

      <footer>
        {% include _meta_information.html %}
        {% include related.html %}
      </footer>
    </article>
    {% include post-pager.html %}
  </div>
</div>
