---
layout: default
format: frontpage
---
<div class="row">
  <h3 class="text-center">
    {{ site.data.language.more_articles | widont }}
  </h3>
</div>

{% unless site.posts == empty %}
<div class="row">
  {% for post in site.posts limit:6 %}
  {% assign post_image = post.image.homepage %}
  <div class="small-12 medium-4 columns homepage-block cover tr30">
    <a href="{{ post.url | relative_url }}" title="{{ post.title | escape_once }}">
      <div class="homepage-block-image">
        {% include responsive_picture.html file=post_image alt=post.title %}
      </div>
      <div class="homepage-block-inner text-center">
        {{ post.title | widont }}
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endunless %}

<div class="row text-center tr30">
  <a class="button small radius" href="/blog">
    <strong>{{ site.data.language.archive }} ›</strong>
  </a>
</div>
